/** PRINCIPAL **/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
	font-family: 'FonteLogo';
	src: url($fonte-logo);
}

body {
	font-family: $fonte-padrao;
	color: $txt-cor-principal;
	background: lighten($bg-color, 90%);
	height: 100%;
	
	p {
		@include texto-principal($txt-cor-principal);
		// @include shadow-texto-principal($txt-cor-principal);
		
	}
}

#interface {
	width: 1280px;
	margin: 0px auto 50px;
	height: 100%;
	padding: 10px 50px;
	box-sizing: border-box;
	background: lighten($bg-color, 100%);
	box-shadow: 1px 1px 10px lighten($txt-cor-principal, 50%);
}
// ============================================================================================================================================================

/** IMAGENS **/
.img {
	width: 100%;
	height: 100%;
}

.foto-legenda {
	border: 8px solid lighten($txt-cor-principal, 100%);
	border-bottom: 4px solid lighten($txt-cor-principal, 100%);
	display: inline-block;
	position: relative;
	@include borda-img($cor: lighten($txt-cor-principal, 40%));

	&:hover figcaption {
		opacity: 100;
	}

	figcaption {
		position: absolute;
		bottom: 4px;
		width: 100%;
		background: rgba($txt-cor-principal, 0.4);
		padding-left: 45px;
		box-sizing: border-box;
		color: lighten($txt-cor-principal, 100%);
		opacity: 0;
		transition: opacity 0.35s;

		p {
			@include texto-principal(lighten($txt-cor-principal, 100%));
			
		}

	}
}
// ============================================================================================================================================================

/** HEADER **/
#cabecalho {
	position: relative;
	border-bottom: 1px solid	rgba($txt-cor-principal, 0.2);
	height: 130px;
	background: url($logo-glass-peq) no-repeat left bottom;

	#icone {
    position: absolute;
    top: 42px;
    right: -80px;
	}

	h1 {
		font-family: 'FonteLogo', sans-serif;
		color: $txt-titulo;
		text-shadow: 1px 1px 1px rgba($txt-cor-principal, 0.6);
    margin-bottom: 0;
	}

	h2 {
		// font-family: Arial, Helvetica, sans-serif;
		font-family: 'Roboto', sans-serif;
		color: $txt-subtitulo;
		text-shadow: 1px 1px 1px rgba($txt-cor-principal, 0.6);
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

#menu-principal {
	ul {
		position: absolute;
		right: 0px;
		top: -47px;
		padding: 0;
		text-transform: uppercase;
		list-style: none;
	}
	li {
		display: inline-block;
		padding: 10px 0;
		background: lighten($txt-cor-principal, 80%);
		box-shadow: 1px 1px 4px lighten($txt-cor-principal, 70%);
		
		&:last-child {
			margin-right: 0;
		}
		
	}
	
	a {
		text-decoration: none;
		color: $txt-cor-principal;
		font-weight: 500;
		padding: 10px;
		transition: background 0.2s;
		
		&:hover {
			background: lighten($txt-cor-principal, 70%);
			color: lighten($txt-cor-principal, 100%);
		}
	}
}
// ============================================================================================================================================================

/** SECTION **/
#main {
	width: 50%;
	float: left;
	padding: 10px 10px 10px 0;
	box-sizing: border-box;
	border-right: 1px solid	rgba($txt-cor-principal, 0.2);
}
// ============================================================================================================================================================

/** TABLE **/
#tab-specs {
	// border: 1px solid $tbl-borda;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;

	caption {
		color: $txt-subtitulo;
		font-size: 10pt;
		font-weight: 600;

		span {
			float: right;
			font-size: 7pt;
			margin-top: 8px;
		}
	}

	td {
		border-bottom: 1px solid $tbl-borda;
		padding: 10px;

		&.ce {
			font-weight: 600;
			color: $txt-branco;
			background: $txt-titulo;
			text-align: right;
			vertical-align: top;
		}
		&.cd {
			color: $txt-branco;
			background: $txt-subtitulo;
		}
	}
}
// ============================================================================================================================================================

/** ASIDE **/
#aside {
	width: 49%;
	float: right;
	padding: 10px 0;
	box-sizing: border-box;
}
// ============================================================================================================================================================

/** FOOTER **/
#footer {
	clear: both;
	border-top: 1px solid	rgba($txt-cor-principal, 0.2);
	text-align: center;
	padding-top: 25px;

	span {
		display: inline-block;
    width: 100%;
		font-size: 12px;
	}

	a {
		color: $link-footer;
		text-decoration: none;
		
		&:hover {
			color: darken($link-footer, 20);
		}

	}
}