// VARIAVEIS

// CORES
$bg-color:							 #000;
$txt-cor-principal:			 #000;
$txt-cor-secundaria:		 #ff9999;
$txt-titulo:						 #606060;
$txt-h-article:					 #606060;
$bg-h-article:           #dddddd;
$txt-subtitulo:					 #888888;
$link-footer:						 #6495ed;
$txt-branco:						 #FFFFFF;
$tbl-borda:							 #606060;

// FONTES
$fonte-logo:		  '../../fonts/bubblegum-sans-regular.otf';

// IMAGENS
$logo-glass-peq: 	'../../images/glass-logo-peq.jpg';
// ============================================================================================================================================================